
.container{
  display: flex;
  flex-direction: column;
  width:400px;
  height: 300px;
  background-color: rgb(20, 147, 158);
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin: 20px;
  border-radius: 20px;
  background-image: linear-gradient(rgba(78, 199, 73, 0.797), yellow, rgb(96, 98, 35));
  box-shadow: 10px 10px 5px rgb(204, 71, 14);
  gap: 30px;
}
.input{
  width: 250px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid red;
  font-size: 20px;
  color: rgb(179, 76, 76);
  background: rgb(154, 154, 49);
}
.btn{
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid red;
  font-size: 20px;
  color: rgb(179, 76, 76);
  background: rgb(154, 154, 49);
}